API_HOST=0.0.0.0
API_PORT=8000
API_ENV=development
FIREBASE_SERVICE_ACCOUNT_PATH=serviceAccountKey.json
CORS_ORIGINS=http://localhost:8081,http://localhost:19006
GEMINI_API_KEY=AIzaSyBOxRHeozZdD0DbN-ampDbyIk6yo6T8dlk
GEMINI_MODEL=gemini-2.0-flash